/lesson01/.idea/compiler.xml
/lesson01/.idea/copyright/profiles_settings.xml
/lesson01/.idea/gradle.xml
/lesson01/.idea/misc.xml
/lesson01/.idea/modules.xml
/lesson01/.idea/runConfigurations.xml
/lesson01/.idea/vcs.xml
/lesson01/.idea/workspace.xml
/lesson01/app/app.iml
/lesson01/lesson01.iml
/lesson02/.idea/compiler.xml
/lesson02/.idea/copyright/profiles_settings.xml
/lesson02/.idea/gradle.xml
/lesson02/.idea/misc.xml
/lesson02/.idea/modules.xml
/lesson02/.idea/runConfigurations.xml
/lesson02/.idea/vcs.xml
/lesson02/.idea/workspace.xml
/lesson02/app/app.iml
/lesson02/lesson02.iml
/lesson03/.idea/.name
/lesson03/.idea/compiler.xml
/lesson03/.idea/copyright/profiles_settings.xml
/lesson03/.idea/gradle.xml
/lesson03/.idea/misc.xml
/lesson03/.idea/modules.xml
/lesson03/.idea/runConfigurations.xml
/lesson03/.idea/vcs.xml
/lesson03/.idea/workspace.xml
/lesson03/app/.idea/.name
/lesson03/app/.idea/compiler.xml
/lesson03/app/.idea/copyright/profiles_settings.xml
/lesson03/app/.idea/gradle.xml
/lesson03/app/.idea/misc.xml
/lesson03/app/.idea/modules.xml
/lesson03/app/.idea/runConfigurations.xml
/lesson03/app/.idea/vcs.xml
/lesson03/app/.idea/workspace.xml
/lesson03/app/app.iml
/lesson03/app/gradle/wrapper/gradle-wrapper.jar
/lesson03/app/gradle/wrapper/gradle-wrapper.properties
/lesson03/app/gradlew
/lesson03/app/gradlew.bat
/lesson03/lesson03.iml
/lesson04/.idea/.name
/lesson04/.idea/compiler.xml
/lesson04/.idea/copyright/profiles_settings.xml
/lesson04/.idea/gradle.xml
/lesson04/.idea/misc.xml
/lesson04/.idea/modules.xml
/lesson04/.idea/runConfigurations.xml
/lesson04/.idea/vcs.xml
/lesson04/.idea/workspace.xml
/lesson04/app/app.iml
/lesson04/lesson04.iml
/lesson05/.idea/.name
/lesson05/.idea/compiler.xml
/lesson05/.idea/copyright/profiles_settings.xml
/lesson05/.idea/gradle.xml
/lesson05/.idea/misc.xml
/lesson05/.idea/modules.xml
/lesson05/.idea/runConfigurations.xml
/lesson05/.idea/vcs.xml
/lesson05/.idea/workspace.xml
/lesson05/app/app.iml
/lesson05/lesson05.iml
/lesson06/.idea/.name
/lesson06/.idea/compiler.xml
/lesson06/.idea/copyright/profiles_settings.xml
/lesson06/.idea/gradle.xml
/lesson06/.idea/misc.xml
/lesson06/.idea/modules.xml
/lesson06/.idea/runConfigurations.xml
/lesson06/.idea/vcs.xml
/lesson06/.idea/workspace.xml
/lesson06/app/app.iml
/lesson06/lesson06.iml
/lesson07/.idea/.name
/lesson07/.idea/compiler.xml
/lesson07/.idea/copyright/profiles_settings.xml
/lesson07/.idea/gradle.xml
/lesson07/.idea/misc.xml
/lesson07/.idea/modules.xml
/lesson07/.idea/runConfigurations.xml
/lesson07/.idea/vcs.xml
/lesson07/.idea/workspace.xml
/lesson07/app/app.iml
/lesson07/lesson07.iml
/lesson08/.idea/.name
/lesson08/.idea/compiler.xml
/lesson08/.idea/copyright/profiles_settings.xml
/lesson08/.idea/gradle.xml
/lesson08/.idea/misc.xml
/lesson08/.idea/modules.xml
/lesson08/.idea/runConfigurations.xml
/lesson08/.idea/vcs.xml
/lesson08/.idea/workspace.xml
/lesson08/app/app.iml
/lesson08/lesson08.iml
/lesson09/.idea/.name
/lesson09/.idea/compiler.xml
/lesson09/.idea/copyright/profiles_settings.xml
/lesson09/.idea/encodings.xml
/lesson09/.idea/gradle.xml
/lesson09/.idea/misc.xml
/lesson09/.idea/modules.xml
/lesson09/.idea/runConfigurations.xml
/lesson09/.idea/vcs.xml
/lesson09/.idea/workspace.xml
/lesson09/README.md~
/lesson09/app/app.iml
/lesson09/lesson09.iml
/lesson10/.idea/.name
/lesson10/.idea/compiler.xml
/lesson10/.idea/copyright/profiles_settings.xml
/lesson10/.idea/encodings.xml
/lesson10/.idea/gradle.xml
/lesson10/.idea/libraries/cardboard.xml
/lesson10/.idea/libraries/libprotobuf_java_2_6_nano.xml
/lesson10/.idea/misc.xml
/lesson10/.idea/modules.xml
/lesson10/.idea/runConfigurations.xml
/lesson10/.idea/vcs.xml
/lesson10/.idea/workspace.xml
/lesson10/README.md
/lesson10/app/app.iml
/lesson10/lesson10.iml
# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/

# Gradle files
.gradle/
build/
/*/build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log
